$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$linkColor:             #83b83d;
$inputBorder:           #ccc;
$baseBorderRadius:      0px;

@import "bootstrap-sass/lib/bootstrap";

a:-webkit-any-link {
    text-decoration: none;
}

.container{
    margin: 0 auto;
}

.result{
    width: 960px;
    height: 200px;
}

.input-append{
    margin-left: 0;
}

.rulers{

}

.input-append .invalid{
    border-color: #e9322d;
}

.text-with-btn {
    width: 26px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    border: 1px solid #ccc;
}

.ruleContainer {
    width: 75px;
    float: left;
    min-height: 1px;
    margin-left: 20px;
    margin-top: 5px;
}

.popover {
    max-width: 500px;
}

.form-horizontal .control-label {
    width: 240px;
}

.form-horizontal .controls {
    margin-left: 260px;
}

header a, footer a{
    -webkit-transition: color linear .2s;
       -moz-transition: color linear .2s;
         -o-transition: color linear .2s;
            transition: color linear .2s;
}

header{
    background: #181818;
    margin-bottom: 35px;
    text-align: center;
    color: #ededed;
    padding: 40px 0;
    border-bottom: #83b83d 3px solid;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    &:focus {
    border-color: #83b83d;
    @include box-shadow(none);
  }
}

.btn-group>.btn:first-child, .btn-group>.btn:last-child {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

select{
    -webkit-transition: border linear .1s;
       -moz-transition: border linear .1s;
         -o-transition: border linear .1s;
            transition: border linear .1s;
}

footer {
    text-align: center;
    border-top: #83b83d 3px solid;
    padding: 30px 0;
    margin-top: 25px;
    background-color: #181818;
    font-size: 14px;
    color: #8c8c8c;
}