<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sublime Text Config</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
</head>
  <body ng-app="sublConfigApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="vendor/es5-shim/es5-shim.js"></script>
      <script src="vendor/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <header>
        <div class="container">
            <h1>Sublime Text Config</h1>
            <p class="lead">The best way to configure sublime text.</p>
            <a href="https://github.com/EduardoLopes/sublime-config#usage">Usage</a>
            | <a href="https://github.com/EduardoLopes/sublime-config">Github</a>
        </div>
    </header>
    <div class="container" ng-controller="MainCtrl">
      <div class="row">
        <div class="span12">
          <form class="form-horizontal" ng-init="tooltipInit()">
            <div class="control-group">
              <label class="control-label" for="color_scheme">Color Scheme <i class="icon-info-sign" rel="tooltip" data-content="Sets the colors used within the text area. It's better change this option in Preferences > Color Scheme to see live what you want."></i></label>
              <div class="controls">
                <select ng-model="color_scheme" ng-init="color_scheme='default'" ng-change="setConfig('color_scheme', color_scheme)" id="color_scheme">
                  <option value="default" > Default </option>
                  <option value="Packages/Color Scheme - Default/All Hallow's Eve.tmTheme"> All Hallow's Eve </option>
                  <option value="Packages/Color Scheme - Default/Amy.tmTheme"> Amy </option>
                  <option value="Packages/Color Scheme - Default/Blackboard.tmTheme"> Blackboard </option>
                  <option value="Packages/Color Scheme - Default/Cobalt.tmTheme"> Cobalt </option>
                  <option value="Packages/Color Scheme - Default/Dawn.tmTheme"> Dawn </option>
                  <option value="Packages/Color Scheme - Default/Eiffel.tmTheme"> Eiffel </option>
                  <option value="Packages/Color Scheme - Default/Espresso Libre.tmTheme"> Espresso Libre </option>
                  <option value="Packages/Color Scheme - Default/IDLE.tmTheme"> IDLE </option>
                  <option value="Packages/Color Scheme - Default/LAZY.tmTheme"> LAZY </option>
                  <option value="Packages/Color Scheme - Default/Mac Classic.tmTheme"> Mac Classic </option>
                  <option value="Packages/Color Scheme - Default/MagicWB (Amiga).tmTheme"> MagicWB (Amiga) </option>
                  <option value="Packages/Color Scheme - Default/Monokai Bright.tmTheme"> Monokai Bright </option>
                  <option value="Packages/Color Scheme - Default/Monokai.tmTheme"> Monokai </option>
                  <option value="Packages/Color Scheme - Default/Pastels on Dark.tmTheme"> Pastels on Dark </option>
                  <option value="Packages/Color Scheme - Default/Slush & Poppies.tmTheme"> Slush & Poppies </option>
                  <option value="Packages/Color Scheme - Default/Solarized (Dark).tmTheme"> Solarized (Dark) </option>
                  <option value="Packages/Color Scheme - Default/Solarized (Light).tmThem"> Solarized (Light) </option>
                  <option value="Packages/Color Scheme - Default/SpaceCadet.tmTheme"> SpaceCadet </option>
                  <option value="Packages/Color Scheme - Default/Sunburst.tmTheme"> Sunburst </option>
                  <option value="Packages/Color Scheme - Default/Twilight.tmTheme"> Twilight </option>
                  <option value="Packages/Color Scheme - Default/Zenburnesque.tmTheme"> Zenburnesque </option>
                  <option value="Packages/Color Scheme - Default/iPlastic.tmTheme"> iPlastic </option>
                </select>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="font_face">Font Face <a href="http://www.sublimetext.com/docs/2/font.html" title="http://www.sublimetext.com/docs/2/font.html" target="_blank"><i class="icon-globe"></i></a> <i class="icon-info-sign" rel="tooltip" data-content="Sets font face to be used within the text area."></i></label>
              <div class="controls">
                <select data-name="font_face" ng-init="font_face='default'" id="font_face" ng-model="font_face" ng-change="setConfig('font_face', font_face)">
                  <option value="default">Default</option>
                  <option value="Monospace">Monospace</option>
                  <option value="Ubuntu Mono">Ubuntu Mono</option>
                </select>
              </div>
            </div>

            <super-input name="Font Size"
                         key="font_size"
                         a-type="number"
                         a-min="1"
                         a-max="50"
                         a-step="0.1"
                         tooltip="Sets size of the font for text area."
                         link="http://www.sublimetext.com/docs/2/font.html">
            </super-input>

            <div class="control-group">
              <label class="control-label" for="font_options">Font Options</label>
              <div class="controls">
                <div id="row">
                  <div class="span2">
                    <label for="bold">
                      <input id="bold" type="checkbox" ng-true-value="bold" ng-false-value="remove_this" ng-model="bold" ng-click="setArrayOptions('font_options', bold)" /> Bold
                    </label>
                    <label for="italic">
                      <input id="italic" type="checkbox" ng-true-value="italic" ng-false-value="remove_this" ng-model="italic" ng-click="setArrayOptions('font_options', italic)" /> Italic
                    </label>
                    <label for="gray_antialias">
                      <input id="gray_antialias" type="checkbox" ng-true-value="gray_antialias" ng-false-value="remove_this" ng-model="gray_antialias" ng-click="setArrayOptions('font_options', gray_antialias)" /> Gray Antialias
                    </label>
                  </div>
                  <div class="span2">
                    <label for="no_bold">
                      <input id="no_bold" type="checkbox" ng-true-value="no_bold" ng-false-value="remove_this" ng-model="no_bold" ng-click="setArrayOptions('font_options', no_bold)" /> No Bold
                    </label>
                    <label for="no_italic">
                      <input id="no_italic" type="checkbox" ng-true-value="no_italic" ng-false-value="remove_this" ng-model="no_italic" ng-click="setArrayOptions('font_options', no_italic)" /> No Italic
                    </label>
                    <label for="no_antialias">
                      <input id="no_antialias" type="checkbox" ng-true-value="no_antialias" ng-false-value="remove_this" ng-model="no_antialias" ng-click="setArrayOptions('font_options', no_antialias)" /> No Antialias
                    </label>
                  </div>
                   <div class="span3">
                    <label for="subpixel_antialias">
                      <input id="subpixel_antialias" type="checkbox" ng-true-value="subpixel_antialias" ng-false-value="remove_this" ng-model="subpixel_antialias" ng-click="setArrayOptions('font_options', subpixel_antialias)" /> Subpixel Antialias
                    </label>
                    <label for="no_round">
                      <input id="no_round" type="checkbox" ng-true-value="no_round" ng-false-value="remove_this" ng-model="no_round" ng-click="setArrayOptions('font_options', no_round)" /> No Round (OS X only)
                    </label>
                    <label for="directwrite">
                      <input id="directwrite" type="checkbox" ng-true-value="directwrite" ng-false-value="remove_this" ng-model="directwrite" ng-click="setArrayOptions('font_options', directwrite)" /> Directwrite (Windows only)
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <buttons-radio name="Line Numbers"
                           key="line_numbers"
                           buttons="false, true, default"
                           tooltip="Set to false to hide numbers in the gutter.">
            </buttons-radio>

            <buttons-radio name="Gutter"
                           key="gutter"
                           buttons="false, true, default"
                           tooltip="Set to false to hide the gutter altogether.">
            </buttons-radio>

            <super-input name="Margin"
                         key="margin"
                         a-type="number"
                         a-min="0"
                         a-max="50"
                         a-step="1"
                         tooltip="Spacing between the gutter and the text.">
            </super-input>

            <buttons-radio name="Fold Buttons"
                           key="fold_buttons"
                           buttons="false, true, default"
                           tooltip="Fold buttons are the triangles shown in the gutter to fold regions of text.">
            </buttons-radio>

            <buttons-radio name="Fade Fold Buttons"
                           key="fade_fold_buttons"
                           buttons="false, true, default"
                           tooltip="Hides the fold buttons unless the mouse is over the gutter.">
            </buttons-radio>

            <div class="control-group">
              <label class="control-label" for="rulers">Rulers <i class="icon-info-sign" rel="tooltip" data-content="Columns in which to display vertical rulers."></i></label>
              <div class="controls">
                <div class="input-append">
                  <input ng-change="rulerValidation(rulers)" ng-required="rulers" id="rulers" class="span2" type="number" min="1" max="999" step="1" ng-model="rulers">
                  <button class="btn addRule" type="button" ng-click="setArrayOptions('rulers', rulers);">Add</button>
                </div>
                <div ng-hide="!config.rulers" class="rulers">
                  <div class="input-append">
                    <div class="row">
                       <div class='ruleContainer' ng-repeat="ruler in config.rulers">
                      <div class='text-with-btn'>{{ruler}}</div>
                      <button class='btn ruler' type='button'  ng-click="removeArrayOptions('rulers', ruler); rulerValidation(rulers);"><i class='icon-remove'></i></button>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <buttons-radio name="Spell Check"
                           key="spell_check"
                           buttons="false, true, default"
                           tooltip="Set to true to turn spell checking on by default."
                           link="http://www.sublimetext.com/docs/2/spell_checking.html">
            </buttons-radio>

            <super-input name="Tab Size"
                         key="tab_size"
                         a-type="number"
                         a-min="1"
                         a-max="50"
                         a-step="1"
                         tooltip="The number of spaces a tab is considered equal to."
                         link="http://www.sublimetext.com/docs/2/indentation.html">
            </super-input>

            <buttons-radio name="Translate Tabs to Spaces"
                           key="translate_tabs_to_spaces"
                           buttons="false, true, default"
                           tooltip="Set to true to insert spaces when tab is pressed.">
            </buttons-radio>

            <buttons-radio name="Use Tab Stops"
                           key="use_tab_stops"
                           buttons="false, true, default"
                           tooltip="If Translate Tabs to Spaces is true, Use Tab Stops will make tab and backspace insert/delete up to the next tabstop.">
            </buttons-radio>

            <buttons-radio name="Detect Indentation"
                           key="detect_indentation"
                           buttons="false, true, default"
                           tooltip="Set to false to disable detection of tabs vs. spaces on load.">
            </buttons-radio>

            <buttons-radio name="Auto Indent"
                           key="auto_indent"
                           buttons="false, true, default"
                           tooltip="Calculates indentation automatically when pressing enter.">
            </buttons-radio>

            <buttons-radio name="Smart Indent"
                           key="smart_indent"
                           buttons="false, true, default"
                           tooltip="Makes auto indent a little smarter, e.g., by indenting the next line after an if statement in C. Requires Auto Indent to be enabled.">
            </buttons-radio>

            <buttons-radio name="Indent to Bracket"
                           key="indent_to_bracket"
                           buttons="false, true, default"
                           tooltip="Adds whitespace up to the first open bracket when indenting. Requires Auto Indent to be enabled.">
            </buttons-radio>

            <buttons-radio name="Trim Automatic White Space"
                           key="trim_automatic_white_space"
                           buttons="false, true, default"
                           tooltip="Trims white space added by Auto Indent when moving the caret off the line.">
            </buttons-radio>

            <buttons-radio name="Wrap Width"
                           key="wrap_width"
                           buttons="false, true, default"
                           tooltip="Set to a value other than 0 to force wrapping at that column rather than the window width.">
            </buttons-radio>

            <buttons-radio name="Word Wrap"
                           key="word_wrap"
                           buttons="false, true, default"
                           tooltip="Disables horizontal scrolling if enabled. May be set to true, false, or 'auto', where it will be disabled for source code, and otherwise enabled.">
            </buttons-radio>

            <buttons-radio name="Indent Subsequent Lines"
                           key="indent_subsequent_lines"
                           buttons="false, true, default"
                           tooltip="Set to false to prevent word wrapped lines from being indented to the same level.">
            </buttons-radio>

            <buttons-radio name="Draw Centered"
                           key="draw_centered"
                           buttons="false, true, default"
                           tooltip="Draws text centered in the window rather than left aligned.">
            </buttons-radio>

            <buttons-radio name="Auto Match Enabled"
                           key="auto_match_enabled"
                           buttons="false, true, default"
                           tooltip="Controls auto pairing of quotes, brackets etc.">
            </buttons-radio>

            <div class="control-group">
              <label class="control-label" for="dictionary">Dictionary <a href="http://www.sublimetext.com/docs/2/spell_checking.html" title="http://www.sublimetext.com/docs/2/spell_checking.html" target="_blank"><i class="icon-globe"></i></a> <i class="icon-info-sign" rel="tooltip" data-content="Word list to use for spell checking."></i></label>
              <div class="controls">
                <select id="dictionary" ng-init="dictionary = 'default'" ng-model="dictionary" ng-change="setConfig('dictionary', dictionary)">
                  <option value="default">Default</option>
                  <option value="Packages/Language - English/en_US.dic">en_US</option>
                  <option value="Packages/Language - English/en_GB.dic">en_GB</option>
                </select>
              </div>
            </div>

            <buttons-radio name="Draw Minimap Border"
                           key="draw_minimap_border"
                           buttons="false, true, default"
                           tooltip="Set to true to draw a border around the visible rectangle on the minimap. The color of the border will be determined by the 'minimapBorder' key in the color scheme.">
            </buttons-radio>

            <buttons-radio name="Highlight Line"
                           key="highlight_line"
                           buttons="false, true, default"
                           tooltip="If enabled, will highlight any line with a caret.">
            </buttons-radio>

            <buttons-radio name="Caret Style"
                           key="caret_style"
                           buttons="smooth, phase, blink, wide, solid, default">
            </buttons-radio>

            <buttons-radio name="Match Brackets"
                           key="match_brackets"
                           buttons="false, true, default"
                           tooltip="Set to false to disable underlining the brackets surrounding the caret.">
            </buttons-radio>

            <buttons-radio name="Match Brackets Content"
                           key="match_brackets_content"
                           buttons="false, true, default"
                           tooltip="Set to false if you'd rather only highlight the brackets when the caret is next to one.">
            </buttons-radio>

            <buttons-radio name="Match Brackets Square"
                           key="match_brackets_square"
                           buttons="false, true, default"
                           tooltip="Set to false to not highlight square brackets. This only takes effect if Match Brackets is true.">
            </buttons-radio>

            <buttons-radio name="Match Brackets Braces"
                           key="match_brackets_braces"
                           buttons="false, true, default"
                           tooltip="Set to false to not highlight curly brackets. This only takes effect if Match Brackets is true.">
            </buttons-radio>

            <buttons-radio name="Match Brackets Angle"
                           key="match_brackets_angle"
                           buttons="false, true, default"
                           tooltip="Set to false to not highlight angle brackets. This only takes effect if Match Brackets is true.">
            </buttons-radio>

            <buttons-radio name="Match Tags"
                           key="match_tags"
                           buttons="false, true, default"
                           tooltip="Enable visualization of the matching tag in HTML and XML.">
            </buttons-radio>


            <buttons-radio name="Match Selection"
                           key="match_selection"
                           buttons="false, true, default"
                           tooltip="Highlights other occurrences of the currently selected text.">
            </buttons-radio>

            <buttons-radio name="Line Padding Top"
                           key="line_padding_top"
                           buttons="false, true, default"
                           tooltip="Additional spacing at the top of each line, in pixels.">
            </buttons-radio>

            <buttons-radio name="Line Padding Botton"
                           key="line_padding_botton"
                           buttons="false, true, default"
                           tooltip="Additional spacing at the bottom of each line, in pixels.">
            </buttons-radio>

            <buttons-radio name="Scroll Past End"
                           key="scroll_past_end"
                           buttons="false, true, default"
                           tooltip="Set to false to disable scrolling past the end of the buffer.">
            </buttons-radio>

            <buttons-radio name="Move to Limit on Up Down"
                           key="move_to_limit_on_up_down"
                           buttons="false, true, default"
                           tooltip="This controls what happens when pressing up or down when on the first or last line..">
            </buttons-radio>

            <buttons-radio name="Draw White Space"
                           key="draw_white_space"
                           buttons="false, true, default"
                           tooltip="Set to 'none' to turn off drawing white space, 'selection' to draw only the white space within the selection, and 'all' to draw all white space..">
            </buttons-radio>

            <buttons-radio name="Draw Indent Guides"
                           key="draw_indent_guides"
                           buttons="false, true, default"
                           tooltip="Set to false to turn off the indentation guides. The color and width of the indent guides may be customized by editing the corresponding .tmTheme file, and specifying the colors 'guide', 'activeGuide' and 'stackGuide'.">
            </buttons-radio>

            <div class="control-group">
              <label class="control-label" for="indent_guide_options">Indent Guide Options <i class="icon-info-sign" rel="tooltip" data-content="Controls how the indent guides are drawn."></i></label>
              <div class="controls">
                <div id="row">
                  <label for="draw_normal">
                    <input id="draw_normal" type="checkbox" value="draw_normal" ng-true-value="draw_normal" ng-false-value="remove_this" ng-model="draw_normal" ng-click="setArrayOptions('font_options', draw_normal)" /> Draw Normal <i class="icon-info-sign" rel="tooltip" data-content="Draw Active will draw the indent guides."></i>
                  </label>
                  <label for="draw_active">
                    <input id="draw_active" type="checkbox" value="draw_active" ng-true-value="draw_active" ng-false-value="remove_this" ng-model="draw_active" ng-click="setArrayOptions('font_options', draw_active)" /> Draw Active <i class="icon-info-sign" rel="tooltip" data-content="Draw Active will draw the indent guides containing the caret in a different color."></i>
                  </label>
                </div>
              </div>
            </div>

            <buttons-radio name="Trim Trailing White Space on Save"
                           key="trim_trailing_white_space_on_save"
                           buttons="false, true, default"
                           tooltip="Set to true to removing trailing white space on save.">
            </buttons-radio>

            <buttons-radio name="Ensure Newline at EOF on Save"
                           key="ensure_newline_at_eof_on_save"
                           buttons="false, true, default"
                           tooltip="Set to true to ensure the last line of the file ends in a newline character when saving.">
            </buttons-radio>

            <buttons-radio name="Save on Focus Lost"
                           key="save_on_focus_lost"
                           buttons="false, true, default"
                           tooltip="Set to true to automatically save files when switching to a different file or application.">
            </buttons-radio>

            <buttons-radio name="Enable Hexadecimal Encoding"
                           key="enable_hexadecimal_encoding"
                           buttons="false, true, default"
                           tooltip="Files containing null bytes are opened as hexadecimal by default.">
            </buttons-radio>

            <buttons-radio name="Default Line Ending"
                           key="default_line_ending"
                           buttons="system, windows, unix, default"
                           tooltip="Determines what character(s) are used to terminate each line in new files. Valid values are 'system' (whatever the OS uses), 'windows' (CRLF) and 'unix' (LF only).">
            </buttons-radio>

            <buttons-radio name="Tab Completion"
                           key="tab_completion"
                           buttons="false, true, default"
                           tooltip="When enabled, pressing tab will insert the best matching completion. When disabled, tab will only trigger snippets or insert a tab. Shift+tab can be used to insert an explicit tab when tab_completion is enabled."
                           link="http://www.sublimetext.com/docs/2/tab_completion.html">
            </buttons-radio>

            <buttons-radio name="Auto Complete"
                           key="auto_complete"
                           buttons="false, true, default"
                           tooltip="Enable auto complete to be triggered automatically when typing."
                           link="http://www.sublimetext.com/docs/2/auto_complete.html">
            </buttons-radio>

            <super-input name="Auto Complete Size Limit"
                         key="auto_complete_size_limit"
                         a-type="number"
                         a-min="0"
                         a-step="1"
                         tooltip="The maximum file size where auto complete will be automatically triggered.">
            </super-input>

            <super-input name="Auto Complete Commit on Tab"
                         key="auto_complete_commit_on_tab"
                         a-type="number"
                         a-min="0"
                         a-step="1"
                         tooltip="Controls what scopes auto complete will be triggered in.">
            </super-input>

            <buttons-radio name="Auto Complete With Fields"
                           key="auto_complete_with_fields"
                           buttons="false, true, default"
                           tooltip="By default, auto complete will commit the current completion on enter. This setting can be used to make it complete on tab instead. Completing on tab is generally a superior option, as it removes ambiguity between committing the completion and inserting a newline.">
            </buttons-radio>

            <buttons-radio name="Shift Tab Unindent"
                           key="shift_tab_unindent"
                           buttons="false, true, default"
                           tooltip="By default, shift+tab will only unindent if the selection spans multiple lines. When pressing shift+tab at other times, it'll insert a tab character - this allows tabs to be inserted when Tab Completion is enabled. Set this to true to make shift+tab always unindent, instead of inserting tabs.">
            </buttons-radio>

            <buttons-radio name="Copy With Empty Selection"
                           key="copy_with_empty_selection"
                           buttons="false, true, default"
                           tooltip="Controls if auto complete is shown when snippet fields are active. Only relevant if Auto Complete Commit on Tab is true.">
            </buttons-radio>

            <buttons-radio name="Find Selected Text"
                           key="find_selected_text"
                           buttons="false, true, default"
                           tooltip="If true, the selected text will be copied into the find panel when it's shown.">
            </buttons-radio>

            <buttons-radio name="Drag Text"
                           key="drag_text"
                           buttons="false, true, default"
                           tooltip="When Drag Text is enabled, clicking on selected text will begin a drag-drop operation.">
            </buttons-radio>

            <super-input name="Scroll Speed"
                         key="scroll_speed"
                         a-type="number"
                         a-min="0"
                         a-step="0.1"
                         tooltip="Set to 0 to disable smooth scrolling. Set to a value between 0 and 1 to scroll slower, or set to larger than 1 to scroll faster.">
            </super-input>

            <buttons-radio name="Tree Animation Enabled"
                           key="tree_animation_enabled"
                           buttons="false, true, default"
                           tooltip="Controls side bar animation when expanding or collapsing folders.">
            </buttons-radio>

            <buttons-radio name="Highlight Modified Tabs"
                           key="highlight_modified_tabs"
                           buttons="false, true, default"
                           tooltip="Makes tabs with modified files more visible.">
            </buttons-radio>

            <buttons-radio name="Show Tab Close Buttons"
                           key="show_tab_close_buttons"
                           buttons="false, true, default">
            </buttons-radio>

            <buttons-radio name="Bold Folder Labels"
                           key="bold_folder_labels"
                           buttons="false, true, default"
                           tooltip="Show folders in the side bar in bold.">
            </buttons-radio>

            <buttons-radio name="Use Simple Full Screen"
                           key="use_simple_full_screen"
                           buttons="false, true, default"
                           tooltip="OS X 10.7 only: Set to true to disable Lion style full screen support. Sublime Text must be restarted for this to take effect.">
            </buttons-radio>

            <buttons-radio name="Gpu Window Buffer"
                           key="gpu_window_buffer"
                           buttons="false, true, default"
                           tooltip="OS X only.Auto will enable the setting when running on a screen 2880 pixels or wider (i.e., a Retina display). When this setting is enabled, OpenGL is used to accelerate drawing. Sublime Text must be restarted for changes to take effect.">
            </buttons-radio>

            <buttons-radio name="Overlay Scroll Bars"
                           key="overlay_scroll_bars"
                           buttons="system, enabled, disabled, default">
            </buttons-radio>

            <buttons-radio name="Hot Exit"
                           key="hot_exit"
                           buttons="false, true, default"
                           tooltip="Exiting the application with Hot Exit enabled will cause it to close immediately without prompting. Unsaved modifications and open files will be preserved and restored when next starting.
                                    Closing a window with an associated project will also close the window without prompting, preserving unsaved changes in the workspace file alongside the project.">
            </buttons-radio>

            <buttons-radio name="Remember Open Files"
                           key="remember_open_files"
                           buttons="false, true, default"
                           tooltip="Remember Open Files makes the application start up with the last set of open files. Changing this to false will have no effect if Hot Exit is true.">
            </buttons-radio>

            <buttons-radio name="Open Files in New Window"
                           key="open_files_in_new_window"
                           buttons="false, true, default"
                           tooltip="OS X only: When files are opened from finder, or by dragging onto the dock icon, this controls if a new window is created or not.">
            </buttons-radio>

            <buttons-radio name="Create Window at Startup"
                           key="create_window_at_startup"
                           buttons="false, true, default"
                           tooltip="OS X only: This controls if an empty window is created at startup or not.">
            </buttons-radio>

            <buttons-radio name="Close Windows When Empty"
                           key="close_windows_when_empty"
                           buttons="false, true, default"
                           tooltip="Set to true to close windows as soon as the last file is closed, unless there's a folder open within the window. This is always enabled on OS X, changing it here won't modify the behavior.">
            </buttons-radio>

            <buttons-radio name="Show Full Path"
                           key="show_full_path"
                           buttons="false, true, default"
                           tooltip="Show the full path to files in the title bar.">
            </buttons-radio>

            <buttons-radio name="Show Panel on Build"
                           key="show_panel_on_build"
                           buttons="false, true, default"
                           tooltip="Shows the Build Results panel when building. If set to false, the Build Results can be shown via the Tools/Build Results menu.">
            </buttons-radio>

            <buttons-radio name="Preview on Click"
                           key="preview_on_click"
                           buttons="false, true, default"
                           tooltip="Preview file contents when clicking on a file in the side bar. Double clicking or editing the preview will open the file and assign it a tab.">
            </buttons-radio>


          </form>
        </div>

        <div class="row">
          <div class="span12">
            <textarea ng-model="configJson" class="result" readonly>{}</textarea>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
        <div class="container">
            <a href="https://github.com/EduardoLopes/sublime-config/blob/master/LICENSE.md" title="License">© 2013 Eduardo Lopes. All rights reserved.</a>
        </div>
    </footer>

    <script src="vendor/jquery/jquery.js"></script>
    <script src="vendor/angular/angular.js"></script>

        <!-- build:js scripts/plugins.js -->
        <script src="vendor/bootstrap-sass/js/bootstrap-tooltip.js"></script>
        <script src="vendor/bootstrap-sass/js/bootstrap-button.js"></script>
        <script src="vendor/bootstrap-sass/js/bootstrap-popover.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/modules.js -->
        <script src="vendor/angular-cookies/angular-cookies.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/directives/buttonsRadio.js"></script>
        <script src="scripts/filters/firstLetterUpperCase.js"></script>
        <script src="scripts/directives/super-input.js"></script>
        <!-- endbuild -->
</body>
</html>
