<div class="row">
  <div class="span12">
    <form class="form-horizontal">

      <buttons-Radio name="Line Numbers"
                     key="line_numbers"
                     buttons="false, true, default"
                     tooltip="Set to false to hide numbers in the gutter."
                     link="http://www.sublimetext.com/docs/2/spell_checking.html">
      </buttons-Radio>

      <buttons-Radio name="Word Wrap"
                     key="word_wrap"
                     buttons="false, true, auto, default">
      </buttons-Radio>

      <super-input name="Font Size"
                   key="font_size"
                   a-type="number"
                   a-min="1"
                   a-max="50"
                   a-step="0.1">
      </super-input>

    </form>
  </div>

  <div class="row">
    <div class="span12">
      <textarea ng-model="configJson" class="result" readonly>{}</textarea>
    </div>
  </div>
</div>